# Ignore macOS system files
.DS_Store

# Ignore specific files
gui/.DS_Store
gui/settings copy.py
src/addon_manager copy.py
src/editcurrent copy.py
src/editor copy.py
*ankiaddon
meta.json
__pycache__
